<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>url</key>
          <string>https://drive.google.com/file/d/1UMX8cbd3Xukq6SLzHgFYoqzifCakY-T6/view?usp=sharing</string> <!-- Link to the IPA file -->
          <key>kind</key>
          <string>software-package</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.dashboard.revnue</string> <!-- The Bundle Identifier of your app -->
        <key>bundle-version</key>
        <string>1.9.47</string> <!-- Version of the app -->
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Strev</string> <!-- Name of the app -->
      </dict>
    </dict>
  </array>
</dict>
</plist>
